@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('../images/bg-desktop.svg') hsl(257, 40%, 49%);
  background-size: cover;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header {
  width: 100%;
  padding: 50px 0;
}

.header .logo {
  margin-left: 50px;
}

.content {
  display: flex;
  height: 100%;
  margin: 0 50px;
}

/* Footer atribution */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
