@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('../images/bg-desktop.svg') hsl(257, 40%, 49%);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header {
  width: 100%;
  padding: 30px 0;
}

.header .logo {
  margin-left: 50px;
}

.content {
  display: flex;
  justify-content: center;
  margin: 0 50px;
}

.content-image img {
  width: 100%;
  height: auto;
}

.content-text {
  width: 40vw;
  color: white;
  margin: 20px 50px 0 50px;
}

.content-text h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 20px;
}

.content-text p {
  line-height: 25px;
  margin-bottom: 30px;
}

.content-text a {
  width: 200px;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: hsl(257, 40%, 49%);
  border: 1px solid #fff;
  border-radius: 50px;
  background-color: #fff;
  padding: 15px 40px;
  display: inline-block;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.content-text a:hover {
  background-color: hsl(257, 40%, 49%);
  color: white;
}

.content-text a:active {
  transform: translate(5px, 5px);
  box-shadow: none;
}

.footer {
  display: flex;
  flex-direction: column;
}

.icons {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  margin-bottom: 10px;
}

.fab {
  width: 70px;
  height: 70px;
  color: white;
  margin: 0 20px;
  padding: 18px;
  border: 2px solid white;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
}

.fab:hover {
  color: hsl(257, 40%, 49%);
  background-color: #fff;
}

/* Footer atribution */
.attribution {
  color: white;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #f4f4f4;
}

/* Tablet */
@media (max-width: 850px) {
  body {
    background-size: 100%;
  }

  .content {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .content-image {
    width: 80vw;
  }

  .content-text {
    width: 90vw;
    text-align: center;
  }

  .icons {
    justify-content: center;
    margin-right: 0;
  }
}
